
/*OVERALL STYLE*/
html {
  background: #fff;
  color: #0B3948;
  font-family: 'Titillium Web', sans-serif;
}

html.bg {
  background:  #0B3948;
  border: 0;
  box-sizing: border-box;
  color: #fff;
  /*height: 100%;*/
  margin: 0;
  outline: 0;
  overflow-y: auto;
  padding: 0;
  vertical-align: baseline;
  /*width: 100%;*/
  z-index: 1;
}

h1 {
  font-size: 2em;
  padding: 2%;
}

h2 {
  font-size: 1.5em;
  padding: 3%;
}

h3 {
  font-size: 1.2em;
  margin-bottom: 3%;
}

h4 {
  font-size: 1em;
  padding: 2%;
}

a {
  text-decoration: none;
}

a:hover {
  border: 1px dotted pink;
  color: pink;
  padding: 5px;
}

.container-main {
  display: grid;
  grid-gap: 5px;
  grid-template-areas:
  "l l l m m m m m m m m m"
  "c c c c c c c c c c c c"
  "f f f f f f f f f f f f";
  grid-template-columns: repeat(12, 1fr);
  grid-template-rows: auto;
  height: 100%;
  width: 100%;
}

/*NAVBAR*/
.menu {
  grid-area: m;
  text-transform: uppercase;
}

.menu:hover {
  display: block;
}

.hamburger {
  display: none;
}

.nav-item, .menu-item {
  cursor: pointer;
  float: right;
  margin-top: 3%;
  margin-right: 10%;
  padding: 5px;
  text-transform: uppercase;
}

.logo  {
  border: 5px solid #0B3948;
  cursor: pointer;
  float: left;
  margin-top: 4%;
  margin-left: 13%;
  grid-area: l;
  text-align: center;
  text-transform: uppercase;
}

.logo.white {
  border: 5px solid #fff;
}


/*MAIN CONTENT*/
.content {
  font-size: 20px;
  grid-area: c;
  height: 100vh;
  width: 100%;
}

.home-logo {
  display: none;
}

.home-content, .about-me, .projects, .contact-me {
  color:  #0B3948;
  grid-area: c;
  height: 100vh;
  width: 100%;
}

.about-me, .projects, .contact-me {
  display: none;
}

.home-content, .contact-me {
  text-align: center;
}

.detail-logo {
  margin-top: 10%;
  width: 100%;
}

/*about me and projects */
.paragraph {
  float: left;
  margin-bottom: 5%;
  padding-left: 3%;
  text-align: left;
  width: 20%;
}

img {
  width: 80%;
}

.img-container {
  margin: auto;
  overflow: hidden;

  width: 100%
}
.aside-img {
  float: right;

  width: 40%;
}
.aside-img-container img {
  margin: 0 2%;
  overflow: hidden;
  width: 48%;
}

.project img {
  border:0;
  padding: 0;
  margin: 0 0 5% 0;
  width: 100%;
}

.description {
  width: 80%;
}

/*contact details*/

.icons {
  text-align: center;
}

i, .email{
  color:  #0B3948;
  font-size: 25px;
}

i {
  padding: 2%;
}

/*FOOTER*/
.footer {
  grid-area: f;;
  text-align: center;
}


/*MEDIA QUERIES*/
@media all and (max-width: 1195px) {

  .nav-item, .menu-item {
    cursor: pointer;
    float: right;
    margin-top: 2%;
    margin-right: 10%;
    padding: 5px;
    text-transform: uppercase;
  }

  .logo  {
    border: 0;
    cursor: pointer;
    font-size: 12px;
    float: left;
    margin-top: 4%;
    margin-left: 4%;
    grid-area: l;
    text-align: center;
  }

  .logo.white {
    border: 0;
  }

  .paragraph {
    float: left;
    padding-left: 3%;
    text-align: left;
    width: 30% !important;
}

  img {
    width: 80%;
  }

  .img-container {
    margin: auto;
    overflow: hidden;

    width: 100%
  }
  .aside-img {
    float: right;

    width: 40%;
  }
  .aside-img-container img {
    margin: 0 2%;
    overflow: hidden;
    width: 80%;
}

  .project img {
    border:0;
    padding: 0;
    margin: 0 0 20px 0;
    width: 100%;
  }

  .description {
    width: 80%;
  }

  .paragraph {
      float: left;
      padding-left: 3%;
      text-align: left;
      width: 20%;
  }

}


@media all and (max-width: 860px) {

  .home-logo {
    display: block;
  }

  .home-logo-large {
    display: none;
  }

  .nav-item, .menu-item {
    cursor: pointer;
    float: right;
    margin-top: 0;
    text-transform: uppercase;
  }

  .menu {
    font-size: 12px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1000000;
  }

  .menu ul {
    list-style-image: none;
    list-style-type: none;
    margin: 1%;
    padding: 0;
  }

  .menu li {
    display: none;
    padding:15px 0 15px 0;
  }


  .menu li:hover {
    display: block;
    padding:15px 0 15px 0;
  }

  .menu ul li a {
    color:  #0B3948;
    margin: 0;
    text-decoration:none;
  }

  .menu ul li a:hover {
    color: pink;
    text-decoration:none;
  }

  .menu a {
    color:  #fff;
    text-decoration:none;
  }

  .menu a:hover {
    color:  #fff;
    text-decoration:none;
  }

  .logo {
    display: none;
  }

  .hamburger {
    background: none;
    border: 0;
    color: #0B3948;
    cursor: pointer;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 45px;
    outline: none;
    padding: 5px 15px 0 15px;
    position: absolute;
    top: 0;
    z-index: 10000000000000;
  }

  .detail {
    font-size: 1.5em;
    margin-top: 10%;
    padding: 2%;
    margin-left: 1%;
  }


    h2 {
    font-size: 1.5em;
    padding: 5%;
  }

  .targetDiv {
    font-size: 18px;
    width: 100%;
  }

  .paragraph {
    float: left;
    padding: 0 5%;
    margin-bottom: 5%;
    text-align: left;
    width: 80%;
  }

  .img-container {
    overflow: hidden;
    width: 100%
  }

  .aside-img {
    float: left;
    margin: 10% 0;
    width: 80%;
  }

  .aside-img-container img {
    overflow: hidden;
    width: 80%;
  }

  img {
    margin: auto;
    width: 80%;
  }

  .project img {
    border:0;
    padding: 0;
    margin: 20px 0 20px 0;
    width: 100%;
  }

  .description {
    padding: 5% 0;
    width: 80%;
  }


}

@media only all and (max-width: 520px) {

  .targetDiv {
    font-size: 12px;
    margin: 10% auto;
    width: 100%;
  }

  .home-logo {
    display: block;
    padding: 20%;
  }

  .detail-logo {
    margin-top: 20%;
    width: 100%;
}

  h1 {
    font-size: 3em;
    padding: 2%;
}

  h2 {
    font-size: 2.5em;
    padding: 5%;
  }


  h4 {
      font-size: 1.5em;
      padding: 5%;
  }

  .menu {
    font-size: 12px;
    font-weight: bold;
    margin-top: 0;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1000000;
  }


  .menu li {
    display: none;
  }

  .nav-item, .menu-item {
    cursor: pointer;
    float: right;
    margin: 1% !important;
    padding: 10px !important;
    text-transform: uppercase;
  }
}
