.about {
  height: 150vh;
  margin: auto;
  padding-top: 200px;
  width: 80%;

  .about-heading {
    margin: auto;
    text-transform: uppercase;
    width: 70%;

    h2 {
      font-size: 30px;

    }

    hr {
      border: 2px solid #333333;
      background: #333333;
      float: left;
      height: 0.25em;
      width: 8%;
    }
  }
  .about-text {
    line-height: normal;
    margin: 10% auto;
    width: 70%;

    a {
      color: #eaaaa0;
      text-decoration: none;
    }
    p, i {
      clear: both;
      font-size: 18px;
      margin: auto;
      text-align: justify;
      width: 100%;
    }

    .top-icon {
      a, i {
        color: #333333;
        font-size: 30px !important;
        text-align: center;
      }
    }

    .next-icon {
      i, p {
        color: #333333;
        font-size: 30px !important;
        text-align: center;
      }

      p {
        font-size: 15px !important;
        padding-top: 10px;
        padding-bottom: 10px;
      }
    }

  }

}

@media only all and (max-width: 500px) {
  .about {
    height: 200vh;
    margin: auto;
    width: 100%;

    .about-heading {
      margin: auto;
      text-transform: uppercase;
      width: 90%;

      h2 {
        font-size: 20px;
      }

      hr {
        border: 2px solid #333333;
        background: #333333;
        float: left;
        height: 0.15em;
        width: 8%;
      }
    }

    .about-text {
      line-height: normal;
      margin: 10% auto;
      width: 90%;

      p , i {
        clear: both;
        font-size: 15px;
        margin: auto;
        text-align: justify;
        width: 100%;
      }

    }

    .top-icon {
      a, i {

        color: #333333;
        font-size: 30px !important;
        text-align: center;
      }
    }

    .next-icon {
      font-size: 30px;

      i, p {
        text-align: center;
      }

      p {
        font-size: 15px !important;
      }
    }
  }


}
