html, body, .app {
  background: #fff;
  border: 0;
  box-sizing: border-box;
  color: #333333;
  font-family: 'Raleway', sans-serif;
  margin: 0;
  outline: 0;
  overflow-y: auto;
  padding: 0;
  vertical-align: baseline;

  h1 {
    font-size: 30px;
    text-transform: uppercase;
  }

  p {
    font-size: 20px;
  }

  .wrapper {
    margin: 0;
    button {
      margin-left: 50%;
      margin-bottom: 50%;
      a {
        font-size: 50px;
      }
    }
  }
}
