.contact {
  background: #333333;
  margin: auto;
  width: 100%;

  .contact-details{
    line-height: 30px;
    margin: auto;
    padding-top: 50px;
    padding-bottom: 50px;
    text-align: center;
    width: 80%;

    .icons {
      font-size: 30px;
      text-align: center;

    }

    p {
      color: #fff;
      margin: auto;
      text-align: center;
    }

    a, i {
      color: #fff;
      padding: 1%;
      text-decoration: none;
      text-transform: lowercase;
    }

    a:hover {
      color: #eaaaa0;
      text-decoration: none;
      text-transform: lowercase;
    }

    i:hover {
      color: #eaaaa0;
      text-decoration: none;
      text-transform: lowercase;
    }
  }
}

@media only all and (max-width: 500px) {
.contact {
  p, a {
    font-size: 15px;
  }
}
}
