.contact {
  background: #919191;
  height: 50vh;
  margin: auto;
  width: 100%;

  .contact-details{
    margin: 50% auto;
    width: 100%;

    p {
      color: white;
      margin: auto;
      text-align: center;

      span {
        color: #eaaaa0;
        font-weight: bold;

        a {
        color: #eaaaa0;
        text-decoration: none;
        }

        a:hover {
          text-decoration: underline;
        }
      }
    }
  }
}
