footer {
  background-color: #919191;
  height: 50px;
  line-height: 50px;
  width: 100%;

  a {
    color: #e8e8e8;
    text-decoration: none;
    padding-left: 1%;
    margin: 1%;
  }

  a:hover{
    color: #eaaaa0;
    text-decoration: none;
  }

}
