footer {
  background-color: #919191;
  height: 100px;
  line-height: 50px;
  text-transform: lowercase;
  width: 100%;

  a {
    color: #e8e8e8;
    float: right;
    text-decoration: none;
    padding-right: 1%;
    margin-right: 2%;
  }

  a:hover{
    color: #eaaaa0;
    text-decoration: underline;
  }

}
