.home {
  height: 150vh !important;
  margin: auto;
  width: 100%;

  h1 {
    background: #919191;
    color: #eaaaa0;
    line-height: 30vh;
    text-align: center;
  }

  p {
    margin: auto;
    width: 50%;
  }
}
