@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.home {
  height: 60vh;
  margin: auto;
  width: 80%;

  .heading-home {
    border: 10px solid #333333;
    color: #333333;
    margin-top: 500px !important;
    text-align: center;
    

    &:hover {
      border: 10px solid #eaaaa0;
      color: #eaaaa0;
    }

    h1 {
      font-size: 65px !important;
      font-weight: 700 !important;
    }

    h3 {
      font-size: 40px;
      font-weight: lighter;
      text-transform: uppercase;
    }

  }
}


@media only all and (max-width: 500px) {

  .home {
    height: 85vh;
    margin: 60% auto !important;
    width: 90%;

    .heading-home {
      border: 10px solid #333333;
      color: #333333;
      text-align: center;

      h1 {
        font-size: 25px !important;
        font-weight: 700 !important;
      }

      h3 {
        font-size: 20px;
        font-weight: lighter;
        text-transform: uppercase;
      }

    }
  }


}
