@import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');

.home {
  color: #eaaaa0;
  margin: auto;
  width: 100%;
  text-align: center;

    h1 {
      font-size: 65px;
      font-weight: lighter;
      text-transform: uppercase;
    }

}
