nav {
  background: transparent;
  line-height: 50px;
  height: 50px;
  margin: auto;
  position: fixed;
  width: 100%;

  a {
    color: white;
    margin: 1%;
    padding-left: 1%;
    text-decoration: none;
    text-transform: lowercase;
  }

  a:hover{
    color: #eaaaa0;
    text-decoration: none;
    text-transform: lowercase;
  }

}
