nav {
  background: #333333;
  font-size: 30px;
  height: 170px;
  line-height: 80px;
  width: 100%;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 9999;

  .nav-wrapper {
    margin: auto;
    text-align: center;
    width: 50%;

    a, i {
      color: #fff;
      padding: 2%;
      text-decoration: none;
      text-transform: lowercase;
    }

    a:hover {
      color: #eaaaa0;
      text-decoration: none;
      text-transform: lowercase;
    }

    i:hover {
      color: #eaaaa0;
      text-decoration: none;
      text-transform: lowercase;
    }
  }
}

@media only all and (max-width: 500px) {
  nav {
    background: #333333;
    font-size: 20px;
    height: 100px;
    line-height: 50px;
    width: 100%;
    position: fixed;
    top: 0;
    left: 0;
    z-index: 9999;

    .nav-wrapper {
      margin: auto;
      text-align: center;
      width: 50%;

      a, i {
        color: #fff;
        padding: 2%;
        text-decoration: none;
        text-transform: lowercase;
      }

      a:hover {
        color: #eaaaa0;
        text-decoration: none;
        text-transform: lowercase;
      }

      i:hover {
        color: #eaaaa0;
        text-decoration: none;
        text-transform: lowercase;
      }
    }
  }
}
