nav {
  background: transparent;
  line-height: 30px;
  height: 30px;
  margin-top: 20px;
  position: absolute;
  width: 100%;

  a {
    color: white;
    margin: 1%;
    opacity: 0.5;
    padding-left: 1%;
    text-decoration: none;
    text-transform: lowercase;
  }

  a:hover{
    color: #eaaaa0;
    text-decoration: underline;
    text-transform: lowercase;
  }

}
