.projects {
  background: #919191;
  height: 200vh;
  margin: auto;
  width: 100%;

  .heading {
    background: #919191;
    color: #919191;
    line-height: 1vh;
    padding-top: 5%;
    text-align: center;
  }

  .content {
    height: 500px;
    margin: auto;
    width: 100%;

    img {
      float: left;
      height: 450px;
      opacity: 0.5;
      overflow: hidden;
      padding: 1%;
      width: 48%;

      &:hover {
        opacity: 1;
      }

    }

    p {
      color: #eaaaa0;
      text-align: center;
    }
  }
}
