/*MAIN CONTENT*/
.content {
  font-size: 20px;
  grid-area: c;
  height: 100vh;
  width: 100%;
}

.home-content, .about-me, .projects, .contact-me {
  color:  #0B3948;
  grid-area: c;
  height: 100vh;
  width: 100%;
}
