@media all and (max-width: 860px) {

  .position {
    border: 5px solid #333333;
    margin: 50% 14%;
    width: 70%;
  }

  .home-logo {
    display: block;
  }

  .home-logo h1 {
    font-size: 3.5em;
    text-transform: uppercase;
  }

  .home-logo h2 {
    font-size: 2.5em;
    text-transform: uppercase;
  }


  .home-logo-large {
    display: none;
  }


  .nav-item, .menu-item {
    cursor: pointer;
    float: right;
    margin-top: 0;
    text-transform: uppercase;
  }

  .menu {
    font-size: 14px;
    font-weight: bold;
    position: absolute;
    text-align: center;
    width: 100%;
    z-index: 1000000;
  }

  .menu ul {
    list-style-image: none;
    list-style-type: none;
    margin: 1%;
    padding: 0;
  }

  .menu li {
    display: none;
    padding:15px 0 15px 0;
  }


  .menu li:hover {
    display: block;
    padding:15px 0 15px 0;
  }

  .menu ul li a {
    color:  #333333;
    margin: 0;
    text-decoration:none;
  }

  .menu ul li a:hover {
    color: pink;
    text-decoration:none;
  }

  .menu a {
    color:  #fff;
    text-decoration:none;
  }

  .menu a:hover {
    color:  #fff;
    text-decoration:none;
  }

  .logo {
    display: none;
  }

  .hamburger {
    background: none;
    border: 0;
    color: #0B3948;
    cursor: pointer;
    display: block;
    font-size: 1.4em;
    font-weight: bold;
    line-height: 45px;
    outline: none;
    padding: 5px 15px 0 15px;
    position: absolute;
    top: 0;
    z-index: 10000000000000;
  }

  .detail {
    font-size: 1em;
    margin-top: 10%;
    padding: 2%;
    margin-left: 1%;
  }


  h2 {
    font-size: 1.5em;
    padding: 5%;
  }

  .targetDiv {
    /*font-size: 18px;*/
    width: 100%;
  }

  .paragraph {
    clear: both;
    font-size: 16px;
    padding: 0 5%;
    text-align: left;
    width: 80%;
  }

  .img-container {
    overflow: hidden;
    width: 100%
  }

  .aside-img {
    float: left;
    margin: 10% 0;
    width: 80%;
  }

  .aside-img-container img {
    overflow: hidden;
    width: 50%;
    margin: 5%;
  }

  img {
    margin: auto;
    width: 80%;
  }

  .project img {
    border: 0;
    padding: 0;
    width: 100%;
  }

  .project h2 {
    font-size: 2em;
    padding: 0 ;
  }

  .description {
    margin: 2% 0;
    width: 100%;
  }

  .project-links-wrapper {
    margin-left: 0;
  }

}
