@media all and (max-width: 1195px) {

//TEXT SIZE

  h1 {
    font-size: 1.8em;
    padding: 2%;
  }

  h2 {
    font-size: 1.4em;
    padding: 5%;
  }

  h3 {
    font-size: 1.2em;
    margin-bottom: 3%;
  }

  h4 {
    font-size: 1em;
    padding: 2%;
  }

  .project h2 {
    padding: 2% 0;
  }

  .section-wrapper {
    h1 {
      margin: 0 5%;
    }
  }

//NAVIGATION
  .nav-item, .menu-item {
    cursor: pointer;
    float: right;
    margin-top: 2%;
    margin-right: 10%;
    padding: 5px;
    text-transform: uppercase;
  }

  .hello-contact-wrapper {
    margin: 30% 14%;
    width: 70%;
  }

  .home-logo-large {
    font-size: 3em;
  }

  .home-logo {
    display: none;
  }

  .logo  {
    border: 0;
    cursor: pointer;
    font-size: 12px;
    float: left;
    margin-top: 4%;
    margin-left: 4%;
    grid-area: l;
    text-align: center;
  }

  .logo.white {
    border: 0;
  }

//ABOUT ME
  .paragraph {
    clear: both;
    font-size: 16px;
    padding: 0 5%;
    text-align: left;
    width: 80%;
  }

  .img-container {
    overflow: hidden;
    width: 100%
  }

  .aside-img {
    float: left;
    margin: 10% 0;
    width: 80%;
  }

  .aside-img-container img {
    overflow: hidden;
    width: 50%;
    margin: 5%;
  }

//PROJECTS
  .project img {
    border:0;
    padding: 0;
    margin: 0 0 20px 0;
    width: 100%;
  }


  .description {
    margin: 2% 0;
  }

  .project-links-wrapper {
    margin-left: 0;
  }

}
