

.menu {
  grid-area: m;
  text-transform: uppercase;
}

.menu:hover {
  display: block;
}

.hamburger {
  display: none;
}


.nav-item, .menu-item {
  cursor: pointer;
  float: right;
  margin-top: 3%;
  margin-right: 10%;
  /*padding: 5px;*/
  text-transform: uppercase;
}
